.vscode/
__pycache__/
*.pyc
html/
results/
output/
output_*/
.idea/
*.egg-info/
.ipynb_checkpoints/
*.egg-info/
.pytest*/
*.ruff*
uv.lock
.venv/

*.html
_*.yaml
*foxes*states*.nc
*states*foxes*.nc
centreline*foxes*.nc
